<!-- app/templates/bands/band/songs.hbs -->
<div class="row">
  <ul class="list-group songs">
    {{#if canCreateSong}}
      <form class="new-song-form" {{action "createSong" on="submit"}}>
        <li class="list-group-item">
          {{input type="text" class="new-song" placeholder="New song"
                  value=title}}
          <button class="btn btn-primary btn-sm new-song-button" {{action
            "createSong"}}>Add</button>
        </li>
      </form>
    {{/if}}
    {{#each model.songs as |song|}}
      <li class="list-group-item song">
        {{song.title}}
        {{star-rating item=song rating=song.rating on-click=(action
          "updateRating")}}
      </li>
    {{/each}}
    {{#unless canCreateSong}}
      <li class="list-group-item empty-list">
        <div class="empty-message">
          There are no songs yet. Why don't you <a href="#" {{action
          "enableSongCreation"}}>create one?</a>
        </div>
      </li>
    {{/unless}}
  </ul>
</div>